---
# Настройка для всех хостов
all:
  vars:
      ansible_connection: ssh
      ansible_user: root

proxy:
  hosts:
    nginx:
      ansible_host: bms-devops.ru

lxc:
  hosts:
    www:
      ansible_host: 172.16.0.101
    db1:
      ansible_host: 172.16.0.102
    db2:
      ansible_host: 172.16.0.103
    gitlab:
      ansible_host: 172.16.0.104
    mon:
      ansible_host: 172.16.0.105
  vars:
      ansible_ssh_common_args: "-J root@bms-devops.ru -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"

db:
  hosts:
    db1:
      db_state: master
    db2:
      db_state: slave

app:
  hosts:
    www:

git:
  hosts:
    gitlab: