---
# Имя зарегистрированного домена
domain_name: bms-devops.ru
wp_pass: wordpress
gitlab_pass: password

# Список ролей, на какаих серверах они запускаются и дополнительные параметры
role_host:
  www:
    server: 'www'
  gitlab:
    server: 'gitlab'
  grafana:
    server: 'mon'
  prometheus:
    server: 'mon'
  alertmanager:
    server: 'mon'

# Состояние схемы: пусто - не выпускает сертификат, stage - выпускает тестовые сетрификаты, prod - выпускает боевые сертификаты
deploy_state: "stage"
