{
        "version": "10",
        "aliases": {
                "local": {
                        "url": "http://localhost:9000",
                        "accessKey": "{{ minio_user }}",
                        "secretKey": "{{ minio_pass }}",
                        "api": "s3v4",
                        "path": "auto"
                }
        }
}
